
backend/bin
backend/*.exe
backend/*.test
backend/*.out
backend/.env

.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
*.log

frontend/node_modules
frontend/.next
frontend/out
frontend/build
frontend/certificates
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

frontend/coverage
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.vercel

frontend/*.tsbuildinfo

# misc
frontend/*.pem
